<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Impersonation demo</title>
    </head>
    <body>
        <div>
            <div>
                <h1> Usuario: <span sec:authentication="name"></span></h1>
            </div>
            <div sec:authorize="hasRole('ROLE_PREVIOUS_ADMINISTRATOR')">
                <p><a th:href="@{/exitUser}">Salir de usuario</a></p>
            </div>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/switchUser}">Cambiar Usuario</a>
        </div>
        <br/>
        <br/>
        <div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Salir"/>
            </form>
        </div>
    </body>
</html>
